*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

header{
    width: 100%;
    max-width: 1420px;
    background-color: white;
}
#banner{
    width: 100%;
    background-color: rgb(86, 252, 252);
}

.banner-img{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.img{
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

#historia{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.conteiner-hist{
    display: flex;
    width: 100%;
    height: 500px;
    border: 1px solid red;
}

.img-hist{
    display: flex;
    align-content: center;
    align-items: center;
    width: 60%;
    height: 500px;
}

.img-hist img{
    width: 100%;
    height: 500px;
    padding: 3px;
}

.tx-nh{
    display: flex;
    align-content: center;
    align-items: center;
    width: 40%;
    height: 500px;
    padding: 5px;
}

.titulo-nh{
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.p-nh p{
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: justify;

}

#galeria{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: rgb(86, 252, 252);;
}

.fotos{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 500px;
}

.galeri{
    width: 25%;
    height: 500px;
    border: 1px solid black;
}

#local{
    width: 100%;
    height: 600px;
}

.img-mapa{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.infor{
    width: 100%;
    height: 130px;
    background-color: black;
}

h4{
    font-size: 100px;
    font-style: italic;
    text-align: center;
    color: aqua;
}